[submodule "submodules/SDL"]
	path = submodules/SDL
	url = git@github.com:libsdl-org/SDL.git
[submodule "submodules/spdlog"]
	path = submodules/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "submodules/Vulkan-Headers"]
	path = submodules/Vulkan-Headers
	url = git@github.com:KhronosGroup/Vulkan-Headers.git
